.top {
  background-image: url(https://s.zillowstatic.com/zillow-offers/production/static-instant-offer/9b51864f0fe039eeb25f5eb839296464.jpg);
  background-position: center center;
  background-size: 1150px;

  background-size: cover;
  height: 600px;
  padding-top: 110px;
}
